/**margin Start**/
$margin-map: ( top, right, bottom, left );
@each $item in $margin-map {
  .margin-#{$item} {
    margin-#{$item}: $content-margin;
  }
}

.auto {
  margin-left: auto;
  margin-right: auto;
}

.m0 {
  margin: 0;
}

.m0a {
  margin: 0 auto;
}

.margin-vertical {
  margin: {
    left: $content-margin;
    right: $content-margin;
  }
}

.margin-horizontal {
  margin: {
    top: $content-margin;
    bottom: $content-margin;
  }
}
/**margin  End**/
